* {
	box-sizing: border-box;
}

:root { 
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

body {
	padding: 30px;
	max-width: 1440px;
	margin: auto;
	background-color: #2d2e2e;
    color: #EBFCFF;
    font-family: 'Sanchez', serif;
}

p, ul, ol, blockquote {
	line-height: 1.7;
}

article img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

pre {
	overflow-x: scroll;
	background: #2f2f2f;
	color: #fff;
	padding: 30px;
	border-radius: 3px;
}

.site-header {
	/*font-weight: bold;*/
	margin-bottom: 100px;
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-family: 'Questrial', sans-serif;
    font-weight: 400;
}
@media (max-width: 699px){
.nav-size{
    font-size: 1.5rem;
}
}
@media (min-width: 700px){
    .nav-size{
        font-size: 2.3rem;
    }
}

@media (min-width: 1000px){
    .nav-size{
        font-size: 2.5rem;
    }
}

/*.site-header .logo {
	background: #6a3093;
  	background: linear-gradient(0deg, hsl(324, 91%, 46%) 0%, hsl(18, 100%, 49%) 100%);
  	padding: 25px 0;
  	text-transform: uppercase;
  	font-weight: bold;
  	color: #fff;
  	line-height: 0;
  	font-size: 18px;
  	width: 50px;
  	text-align: center;
  	vertical-align: middle;
  	display: inline-block;
  	border-radius: 50%;
  	margin-right: 10px;
}*/

.site-footer {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	font-size: 80%;
}

.site-footer p {
	margin: 0;
}

.site-footer nav a {
	margin-right: 10px;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.blog-preview {
	margin-bottom: 50px;
}

.blog-preview h2 {
	margin: 0;
}

p.small, .footnotes {
	font-size: 0.8rem;
	color: #EBFCFF;
}

a {
	text-decoration: none;
	color: #EBFCFF;
	/*font-weight: bold;*/
}

a:hover{
	color:#EF303B;
}

h1{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
}

h2{
	font-family: 'Questrial', sans-serif;
    font-weight: 400;
}

h3{
	font-family: 'Questrial', sans-serif;
    font-weight: 400;
}

hr {
	border-top: solid 1px #cccccc;
	border-bottom: 0;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

table {
  padding: 0; width: 100%;  
}

table tr {
	border-top: 1px solid white;
	background-color: #272728;
	margin: 0;
	padding: 0; 
}

table tr th {
	font-weight: bold;
	border: 1px solid white;
	text-align: left;
	margin: 0;
	padding: 6px 13px; 
}

table tr td {
	border: 1px solid white;
	text-align: left;
	margin: 0;
	padding: 6px 13px; 
}

table tr th :first-child, table tr td :first-child {
	margin-top: 0; 
}

table tr th :last-child, table tr td :last-child {
	margin-bottom: 0; 
}