html{
    font-size: 100%;

}
body{
    background-color: #2d2e2e;
    color: #EBFCFF;
    display: flex;
    font-family: 'Sanchez', serif;

}
@media (max-width: 699px){
.nav-size{
    font-size: 2rem;
}
}
@media (min-width: 700px){
    .nav-size{
        font-size: 2.3rem;
    }
}

@media (min-width: 1000px){
    .nav-size{
        font-size: 2.5rem;
    }
}

.nav-all {
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    text-align: center;
    left: 50%;
    top: 20px;
    z-index: 9999;
}
a{
    color: #EBFCFF;
    text-decoration: none;
}
a:hover{
    background: hsla(324, 91%, 46%, 1);
    background: linear-gradient(0deg, hsl(324, 91%, 46%) 0%, hsl(18, 100%, 49%) 100%);
    background: -moz-linear-gradient(0deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    line-height: 0.7;
    text-align: center;
    font-size: 2.75rem;
}
h2{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.25rem; // 36px
}
h3{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;-
    text-align: center;
    font-size: 1.75rem; // 36px
}
@media (min-width: 700px){
    h1 {
        font-size: 3.5rem; // 56px
    }
}

@media (min-width: 1000px){
    h1 {
        font-size: 4.75rem; // 76px
    }
}
p{
    max-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px){
    p{
        max-width: 1000px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
.logo{
    display: block;
    margin-left: 5px;
    margin-right: auto;
    max-width: 300px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}
.img{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    height: auto;
}
.socials {
    display: flex;
    justify-content: center;
}
.svg{
    height: 65px;
    width: 65px;
    padding: 15px;
}
.svg-makewhite{
    filter: invert(98%) sepia(33%) saturate(823%) hue-rotate(169deg) brightness(98%) contrast(107%);
}
.logo-container{

}
footer{
    position: relative;
    width: 95vw;
    height: 2.5rem;            /* Footer height */
    text-align: center;
    bottom: 5px;
    font-size: 1.05rem;
}
#page-container {
    position: relative;
    min-height: 93vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    padding-left: 5px;
    padding-right: 5px;

}
.gradient{
    background: hsla(324, 91%, 46%, 1);
    background: linear-gradient(0deg, hsl(324, 91%, 46%) 0%, hsl(18, 100%, 49%) 100%);
    background: -moz-linear-gradient(0deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding-top: 0.2em; /* Fix on mobile where the text gets cut off */
    margin-top: -0.2em; /* Very temporary solotion*/

/*    TODO
       Make something better than this bodged together POS.*/
}